In [ ]:
daily_df = pd.read_csv("data/daily_report.csv")
temp = pd.read_csv("data/daily_report.csv")
# 쥬피터에 의해서 불려진 csv파일은 자동적으로 표가 된다. 이 표 안에서 내가 활용하고 싶은 데이터를 골라서 따로 표시가능한데
# 그건 리스트의 형식과 동일하다. 단, 구분은 컬럼(열)으로 하며 [[...]] 이중 괄호를 사용하여 분리한다.
# sum()함수를 사용하여 로우(행)의 합계를 낼수 있다.
# 단, 이때에는 데이터 형식이 데이터 프레임에서 시리즈라는 형식으로 바뀌기 때문에, 다시 그 형식을 표로 바꿔줄 필요가 있다.l
# 따라서 reset_index()를 이용하여 표로 전환해준다.
# 이 과정에서 컬럼의 이름을 바꾸는 것도 가능하다. reset_index() 내부에 인수name의 밸류값으로 문자열을 지정하면 컬럼 명이 바뀐다.
# 컬럼의 명을 바꾸는 명령어는 rename()이며 인수값으로 이름을 전달하면 컬럼 값을 바꿀수 있다. 
totals_df = daily_df[["Country_Region","Confirmed", "Deaths", "Recovered"]]
group_df = totals_df.groupby("Country_Region")
group_df.sum().reset_index()
# series와 dataframe의 차이점은 뭐지??

In [1]:
import pandas as pd
# 판다스는 주로 csv를 컨트롤 하게 해준다.l
# 만다스를 임포트 하여서 csv형식의 데이터 파일을 읽어들인다.

In [63]:

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.drop(['Province/State', 'Country/Region', 'Lat', 'Long'], axis=1).sum().reset_index(name=condition)
    df = df.rename(columns={"index":"Date"})
    return df

final_df = None
for condition in conditions:
    condition_df = make_global_df(condition)
   # result = pd.concat([result, condition_df], axis=1, join="outer")
    if final_df is None:
        final_df = condition_df
    else:
       # result = pd.concat([result, condition_df], ignore_index=True, sort=False)
        final_df = result.merge(condition_df)

result

        Date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        655       18         32
2    1/24/20        941       26         39
3    1/25/20       1433       42         42
4    1/26/20       2118       56         56
..       ...        ...      ...        ...
400  2/25/21  113001412  2507630   63732290
401  2/26/21  113444373  2517957   63992558
402  2/27/21  113833159  2526118   64243283
403  2/28/21  114136355  2531555   64418459
404   3/1/21  114428987  2538582   64620915

[405 rows x 4 columns]