In [72]:
import pandas as pd
# 판다스는 주로 csv를 컨트롤 하게 해준다.
# 만다스를 임포트 하여서 csv형식의 데이터 파일을 읽어들인다.
daily_df = pd.read_csv("data/daily_report.csv")
temp = pd.read_csv("data/daily_report.csv")
# 쥬피터에 의해서 불려진 csv파일은 자동적으로 표가 된다. 이 표 안에서 내가 활용하고 싶은 데이터를 골라서 따로 표시가능한데
# 그건 리스트의 형식과 동일하다. 단, 구분은 컬럼(열)으로 하며 [[...]] 이중 괄호를 사용하여 분리한다.
# sum()함수를 사용하여 로우(행)의 합계를 낼수 있다.
# 단, 이때에는 데이터 형식이 데이터 프레임에서 시리즈라는 형식으로 바뀌기 때문에, 다시 그 형식을 표로 바꿔줄 필요가 있다.
# 따라서 reset_index()를 이용하여 표로 전환해준다.
# 이 과정에서 컬럼의 이름을 바꾸는 것도 가능하다. reset_index() 내부에 인수name의 밸류값으로 문자열을 지정하면 컬럼 명이 바뀐다.
# 컬럼의 명을 바꾸는 명령어는 rename()이며 인수값으로 이름을 전달하면 컬럼 값을 바꿀수 있다. 
totals_df = daily_df[["Country_Region","Confirmed", "Deaths", "Recovered"]]
group_df = totals_df.groupby("Country_Region")
group_df.sum().reset_index()

                    Confirmed  Deaths  Recovered
Country_Region
Afghanistan             55733    2444      49344
Albania                107931    1816      70413
Algeria                113255    2987      78234
Andorra                 10889     110      10475
Angola                  20854     508      19400
...                       ...     ...        ...
Vietnam                  2448      35       1876
West Bank and Gaza     185336    2058     167744
Yemen                    2310     634       1435
Zambia                  79002    1098      75087
Zimbabwe                36115    1468      32905

[192 rows x 3 columns]

In [57]:
temp

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-02 05:23:30,33.939110,67.709953,55733,2444,49344,3945.0,Afghanistan,143.168187,4.385194
1,NaN,NaN,NaN,Albania,2021-03-02 05:23:30,41.153300,20.168300,107931,1816,70413,35702.0,Albania,3750.469108,1.682556
2,NaN,NaN,NaN,Algeria,2021-03-02 05:23:30,28.033900,1.659600,113255,2987,78234,32034.0,Algeria,258.272078,2.637411
3,NaN,NaN,NaN,Andorra,2021-03-02 05:23:30,42.506300,1.521800,10889,110,10475,304.0,Andorra,14093.056364,1.010194
4,NaN,NaN,NaN,Angola,2021-03-02 05:23:30,-11.202700,17.873900,20854,508,19400,946.0,Angola,63.451074,2.435984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3976,NaN,NaN,NaN,Vietnam,2021-03-02 05:23:30,14.058324,108.277199,2448,35,1876,537.0,Vietnam,2.514933,1.429739
3977,NaN,NaN,NaN,West Bank and Gaza,2021-03-02 05:23:30,31.952200,35.233200,185336,2058,167744,15534.0,West Bank and Gaza,3633.030515,1.110416
3978,NaN,NaN,NaN,Yemen,2021-03-02 05:23:30,15.552727,48.516388,2310,634,1435,241.0,Yemen,7.744929,27.445887
3979,NaN,NaN,NaN,Zambia,2021-03-02 05:23:30,-13.133897,27.849332,79002,1098,75087,2817.0,Zambia,429.733404,1.389838
3980,NaN,NaN,NaN,Zimbabwe,2021-03-02 05:23:30,-19.015438,29.154857,36115,1468,32905,1742.0,Zimbabwe,242.987132,4.064793