In [32]:
import pandas as pd

In [33]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df) 
print(type(df))
df

   calories  duration
0       420        50
1       380        40
2       390        45
<class 'pandas.core.frame.DataFrame'>

   calories  duration
0       420        50
1       380        40
2       390        45

In [47]:
series = df["calories"]
dataFrame = df[["calories"]]

series.loc[0]
df.loc[[0]]
# dataFrame.loc[0]

calories    420
duration     50
Name: 0, dtype: int64